* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

/* Header */

.header-container {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.277);
}

.insta-logo {
    height: 35px;
}

.notification-logo span {
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: row;
}

.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 6px;
    outline: none;
    background-color: rgba(128, 128, 128, 0.121);
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}

/* Story Section */

.story-container {
    margin: 30px;
}

.story-timeline {
    margin: auto;
    padding: 8px;
    display: flex;
    gap: 7px;
    max-width: 450px;
    overflow-x: auto;
    /* -ms-overflow-style: none; */
    /* Internet Explorer 10+ */
    /* scrollbar-width: none; */
    /* Firefox */
}

/* .story-timeline::-webkit-scrollbar {
    /* display: none; */
/* Safari and Chrome */
/* }  */

.story-photo {
    height: 4.5rem;
    width: 4.5rem;
    display: inline-block;
    border-radius: 50%;
    background:
        radial-gradient(rgba(0, 0, 0, 0.15)60%, transparent 0),
        radial-gradient(white 65%, transparent 0),
        linear-gradient(to top right, orange, deeppink);
}

.story-photo img {
    display: block;
    height: 100%;
    width: 100%;
    clip-path: circle(42%);
    object-fit: cover;
}

.story-profile {
    text-align: center;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    width: 70px;
    cursor: pointer;
}

.story-profile:hover{
    transform: scale(1.1);
}

.profile-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-size: 13px;
}


/* Post Timeline */

.post-timeline {
    margin: 50px auto;
    width: 450px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-info {
    display: flex;
}

.post-info-container {
    padding-left: 10px;
}

.post-profile-photo {
    height: 35px;
    cursor: pointer;
}

.post-name-date {
    display: flex;
}

.post-name-date span {
    cursor: pointer;
}

.date-posted {
    margin-left: 7px;
    color: gray;
}

.location {
    font-size: 12px;
    cursor: pointer;
}

.dots {
    height: 20px;
    cursor: pointer;
}

.post-image {
    margin-top: 10px;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-footer span {
    height: 0;
    object-fit: cover;
    padding: 5px 15px 0 0;
    cursor: pointer;
}

.paper-plane {
    -webkit-transform: rotate(-45deg);
    padding: 0 0 15px 0 !important;

}

.bookmark {
    padding: 0 !important;
}

.likes {
    padding-top: 5px;
}

.comment-section {
    line-height: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.486);
}

.comment {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.comment-heart span {
    font-size: 18px;
    color: gray;
    cursor: pointer;

}

.add-comment {
    color: gray;
}

.add-comment-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emoji span {
    font-size: 18px;
    color: gray;
    cursor: pointer;
}