* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
}

/* Header */

.header-container {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.277);
}

.insta-logo {
    height: 35px;
}

.notification-logo span {
    cursor: pointer;
}

.form {
    display: flex;
    flex-direction: row;
}

.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 6px;
    outline: none;
    background-color: rgba(128, 128, 128, 0.121);
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}

/* Story Section */

.story-container {
    margin: 20px auto 30px auto;
    width: 95%;
}

.story-timeline {
    margin: auto;
    padding: 8px 0 8px 0;
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: 450px;
    overflow-x: auto;
    /* -ms-overflow-style: none; */
    /* Internet Explorer 10+ */
    /* scrollbar-width: none; */
    /* Firefox */
}

/* .story-timeline::-webkit-scrollbar {
    /* display: none; */
/* Safari and Chrome */
/* }  */

.story-photo {
    height: 4.5rem;
    width: 4.5rem;
    display: inline-block;
    border-radius: 50%;
    background:
        radial-gradient(rgba(0, 0, 0, 0.15)60%, transparent 0),
        radial-gradient(white 65%, transparent 0),
        linear-gradient(to top right, orange, deeppink);
}

.story-photo img {
    display: block;
    height: 100%;
    width: 100%;
    clip-path: circle(42%);
    object-fit: cover;
}

.story-profile {
    text-align: center;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 70px;
    max-width: 70px;
    cursor: pointer;
}

.story-profile:hover {
    transform: scale(1.1);
}

.profile-name {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-size: 13px;
}

/* Post Timeline */

.post-timeline {
    margin: 20px auto 50px auto;
    width: 95%;
    max-width: 450px;
    min-height: 100vh;
}

.post {
    margin-top: 20px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-info {
    display: flex;
}

.post-info-container {
    padding-left: 10px;
}

.post-profile-photo {
    display: inline-block;
    border-radius: 50%;
    background:
        radial-gradient(rgba(0, 0, 0, 0.15)60%, transparent 0),
        radial-gradient(white 65%, transparent 0),
        linear-gradient(to top right, orange, deeppink);
    cursor: pointer;
}

.post-profile-photo img {
    display: block;
    height: 35px;
    width: 35px;
    clip-path: circle(42%);
    object-fit: cover;
}

.post-name-date {
    display: flex;
}

.post-name-date span {
    cursor: pointer;
}

.date-posted {
    margin-left: 7px;
    color: gray;
}

.location {
    font-size: 12px;
    cursor: pointer;
}

.dots {
    height: 20px;
    cursor: pointer;
}

.post-image {
    margin-top: 10px;
    width: 100%;
    height: auto;
    max-height: 450px;
    object-fit: contain;
    cursor: pointer;
}

.post-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-footer span {
    height: 0;
    object-fit: cover;
    padding: 5px 15px 0 0;
    cursor: pointer;
}

.post-footer span:hover {
    color: gray;
}

.post-footer .bookmark:hover{
    color: black;
}

.paper-plane {
    -webkit-transform: rotate(-45deg);
    padding: 0 0 8px 0 !important;
}

.footer-container .paper-plane:hover {
    -webkit-transform: scale(1.1) rotate(-45deg);
    padding: 0 0 8px 0 !important;
}

.bookmark {
    padding: 0 !important;
}

.likes {
    padding-top: 5px;
}

.comment-section {
    line-height: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.486);
}

.comment {
    display: flex;
    justify-content: space-between;
}

.comments {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-heart {
    display: flex;
    align-items: center;
}

.comment-heart span {
    font-size: 18px;
    color: gray;
    cursor: pointer;

}

.input-comment {
    background: transparent;
    border: none;
    outline: none;
}

.add-comment-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emoji span {
    font-size: 18px;
    color: gray;
    cursor: pointer;
    padding-top: 11px;
}

input {
    width: 80%;
}

form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.send-btn {
    margin-right: 10px;
    outline: none;
    border: none;
    background-color: inherit;
    color: #0395F6;
    cursor: pointer;
}

/* Footer */

.footer-container {
    height: 50px;
    width: 100%;
    border-top: 1px solid rgba(128, 128, 128, 0.277);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
}

.footer-container span {
    cursor: pointer;
}

.footer-container span:hover {
    transform: scale(1.1);
}

.own-profile-photo img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}



/* Post Popup */

.background-popup {
    background-color: #2b2b2b9f;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden;
}

.popup-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    max-width: 450px;
    padding-right: 15px;
}

.popup-container .post {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.popup-container .post .post-image {
    width: 100%;
    height: auto;
}

.close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.close-btn span {
    color: white;
    cursor: pointer;
}

/* Side-Container */

.side-container {
    position: absolute;
    top: 90px;
    right: 100px;
    width: 300px;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.my-profile img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.header-recommendations {
    display: flex;
    justify-content: space-between;
    margin: 30px 0 10px 0;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-container {
    margin-bottom: 15px;
}

.profile img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.follow-text {
    font-size: 12px;
    color: gray;
}

.blue-and-pointer {
    color: #0395F6;
    cursor: pointer;
}

.d-none {
    display: none;
}

.no-scroll {
    overflow: hidden;
    padding-right: 15px;
}

.bookmarked {
    font-variation-settings:
        'FILL' 1
}

.liked {
    font-variation-settings:
        'FILL' 1;
    color: red !important;
}

.cursorPointer {
    cursor: pointer;
}

@media(max-width: 390px) {
    .search-container {
        display: none;
    }

    .story-container {
        margin-bottom: -25px;
    }

    body {
        padding-right: 0 !important;
    }

    .popup-container {
        padding-right: 0 !important;
    }
}

@media(min-width: 1200px) {

    .left-container {
        width: 65%;
    }

    .right-container {
        display: block;
        width: 35%;
    }
}

@media (hover: none) {
    .story-profile:hover {
        transform: none;
    }

    .post-footer span:hover {
        color: inherit;
    }

    .footer-container span:hover {
        transform: none;
    }

    .footer-container .paper-plane:hover {
        -webkit-transform: scale(1) rotate(-45deg);
    }
}