* {
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header-container {
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.277);
}

.insta-logo {
    height: 35px;
}

.notification-logo {
    height: 30px;
}

.form {
    display: flex;
    flex-direction: row;
}

.search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none;
    border-radius: 6px;
    outline: none;
    background-color: rgba(128, 128, 128, 0.121);
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    margin-left: -33px;
}

.search-button img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: pointer;
}