<div class="header-container">
    <div><a href="index.html"><img class="insta-logo" src="img/icons/Instapixel.jpg" alt=""></a></div>
    <div class="search-container">
        <form action="/" method="GET" class="form">
            <input class="search-field" type="search" placeholder="Search">
            <button type="submit" class="search-button">
                <img src="img/icons/icons8-suche-50.png" alt="">
            </button>
        </form>
    </div>
    <div>
        <a href="#"><img class="notification-logo" src="img/icons/icons8-like-gefüllt-48.png" alt="Notifications"></a>
    </div>
</div>